.background{
    width: 512px;
    height: 700px;
  
    position: relative; /* 추후 박스 하단에 추가 버튼을 위치시키기 위한 설정 */
    background: white;
    border-radius: 16px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);
  
    margin: 0 auto; /* 페이지 중앙에 나타나도록 설정 */
  
    margin-top: 30px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
}

.main{
    text-align: center;
    position: relative;
    bottom: -30px;
}

.script{
    margin-left:40px;
    position: relative;
    top: 80px;
}

.button{
    position: relative;
    bottom: -300px;
    left: 350px;
    padding:0.3rem;
    max-width:100px;
}