.title{
    color:white;
    background-color:blue;
    border-color:whitesmoke;
    padding:15px;
    border-radius: 10px;
}

.ground{
    padding:0.3rem;
    margin: 3.0px;
    margin-left:25px;
    
    border-radius: 10px;
    max-width:450px;
    background-color:skyblue;
}

.selects{
    padding:0.25rem;
    margin-left:10px;
}